* {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-size: 25px;
}

header {
  display: inline-flex;
  height: 10rem;
  width: 100%;
}

.bank__logo {
  width: 20%;
  text-wrap: nowrap;
  justify-content: start;
  font-size: 4rem;
  margin: 2rem 5rem 2rem 3rem;
}

nav {
  width: 100%;
  margin-right: 40px;
}
.navigation__bar,
.footer {
  list-style-type: none;
  display: inline-flex;
  width: 100%;
  align-items: center;
  text-transform: uppercase;
}

.nav__item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: black;
  transition: 0.15s ease-in-out;
}
.nav__item a:hover:after {
  width: 100%;
}

.navigation__bar {
  justify-content: end;
}

.nav__item {
  margin: 15px;
  position: relative;
}

.nav__item a:link {
  text-decoration: none;
}

#btnLogIn {
  border: 5px solid rgb(194, 194, 239);
  background-color: rgb(194, 194, 239);
  border-radius: 50px;
}

.active {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

/* Slides */
.slider {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 322px;
  display: flex;
}

.sliderContainer {
  /* display: inline-flex; */
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sliderBtn {
  background-color: white;
  border: 3px solid white;
  border-radius: 50%;
  font-size: 30px;
  position: absolute;
  top: 50%;
}

.slide_img {
  width: 100%;
  position: absolute;
  transition: transform 1s;
}

.sliderBtn:hover {
  cursor: pointer;
}

.sliderBtnLeft {
  left: 2%;
  transform: translate(-50%, -50%);
}

.sliderBtnRight {
  right: 2%;
  transform: translate(50%, -50%);
}

/* MAIN */
.all_sections {
  margin: 0 auto;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* gap: 20px 50px; */
  width: 90%;
}

.section--hidden {
  opacity: 0;
  transform: translateY(15rem);
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: transform 1s;
}

.images {
  max-width: 90%;
}

.section p {
  width: 70%;
  text-align: center;
  padding: 100px 40px;
}

/* FOOTER */
.footer {
  justify-content: center;
  padding: 2rem 0px;
  margin-top: 5rem;
  color: whitesmoke;
  background-color: rgb(59, 56, 56);
}

.footer > li {
  margin: 30px;
  cursor: pointer;
}

/* .footer > li:hover {
  text-decoration: underline;
} */

/* MODAL */
.modal {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 60px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btnLogin {
  background-color: #92b8d2;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#btnLogIn {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.form-container {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
  padding: 10px;
}
