:root {
  --backgroundColor: rgb(255, 255, 255);
  --buttonColor: rgb(238, 250, 255);
  --fontColor: rgb(50, 41, 41);
}

* {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-size: 25px;
}

header {
  display: inline-flex;
  height: 100%;
  width: 100%;
  background-color: var(--backgroundColor);
}

.bank__logo {
  width: 20%;
  text-wrap: nowrap;
  justify-content: start;
  font-size: 2rem;
  font-weight: bold;
  color: var(--fontColor);
}

/* NAVIGATION BAR */
.nav__bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 12px 20px;
}

.menu,
.footer {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav__item {
  margin: 15px;
  position: relative;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: 0.15s ease-in-out;
  text-transform: uppercase;
  color: var(--fontColor);
}

/* ANIMATED UNDERLINING */
.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: var(--fontColor);
  transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
  width: 100%;
}

/* HAMBURGER MENU */
.open__menu,
.close__menu {
  position: absolute;
  color: var(--fontColor);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open__menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close__menu {
  top: 5%;
  right: 20px;
  transform: translateY(-50%);
}

#check {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--backgroundColor);
    transition: all 0.2s ease-in-out;
  }

  .menu li {
    margin-top: 40px;
  }

  .menu li a {
    padding: 10px;
  }
  /* to make icons visible */
  .open__menu,
  .close__menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }
}

/* LOG IN BUTTON */
#login__button {
  border: 1px solid var(--fontColor);
  background-color: var(--buttonColor);
  border-radius: 50px;
}

.active {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

/* SLIDES */
.slider {
  position: relative;
  width: 100%;
  height: 699px;
  display: inline-flex;
}

.slider__container {
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0rem 0rem;
}

.slider__btn {
  background-color: var(--buttonColor);
  border: 1px solid var(--fontColor);
  border-radius: 50%;
  font-size: 30px;
  position: absolute;
  top: 40%;
}

.slide_img {
  width: 100%;
  position: absolute;
  transition: transform 1s;
}

.slider__btn:hover {
  cursor: pointer;
}

.slider__btn__left {
  left: 2%;
  transform: translate(-50%, -50%);
}

.slider__btn__right {
  right: 2%;
  transform: translate(50%, -50%);
}

/* MAIN */
.all_sections {
  margin: 0 auto;
  width: 90%;
}

.section--hidden {
  opacity: 0;
  transform: translateY(15rem);
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: transform 1s;
}

.images {
  max-width: 90%;
}

.section p {
  width: 70%;
  text-align: center;
  padding: 100px 40px;
}

/* FOOTER */
.footer {
  justify-content: center;
  padding: 2rem 0px;
  margin-top: 5rem;
  color: var(--white);
  background-color: var(--backgroundColor);
  border-top: 1px solid var(--fontColor);
}

.footer > li {
  margin: 30px;
  cursor: pointer;
}

/* MODAL */
.modal {
  visibility: hidden;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
}

.modal__button {
  background-color: rgb(85, 187, 255);
  color: var(--fontColor);
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.close__button {
  position: absolute;
  right: 25px;
  top: 1rem;
  color: rgba(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.close__button:hover {
  color: rgb(255, 255, 255);
}

#login__button {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.form-container {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 60%;
  padding: 30px 20px;
}
